{% load static %}

<nav class="navbar">
  <ul class="navbar__main">
    <li class="navbar__item">
      <a class="navbar__link" href="">
        <i type="solid" class="bx bxs-home"></i>
        <span>Home</span>
      </a>
    </li>
    <li class="navbar__item">
      <a class="navbar__link" href="">
        <i type="solid" class="bx bxs-bell"></i>
        <span>Notifications</span>
      </a>
    </li>
    <li class="navbar__item">
      <a class="navbar__link" href="">
        <i class="bx bxs-chat"></i>
        <span>Messages</span>
      </a>
    </li>
  </ul>
  <div class="navbar__options">
    <form class="form form--search">
      <label for="form__search-input"></label>
      <input
        id="form__search-input"
        class="form__search-input"
        type="text"
        placeholder="Search Parakeet"
      >
    </form>
    <figure class="navbar__avatar">
      <a href="#" class="navbar__avatar__link">
        <img
          class="navbar__avatar__img"
          src="{% static 'img/kid.jpg' %}"
          alt="Profile picture"
        >
      </a>
    </figure>
    <button class="navbar__chirp">
      <i class="bx bxs-pencil"></i>
      <span>Chirp</span>
    </button>
  </div>
</nav>