{% load post_tags %}
{% load static %}

<article
  class="post"
  data-liked="{% if post|post_liked:user %}true{% else %}false{% endif %}"
>
  <section class="post__avatar">
    <img class="post__avatar__img" src="{% static 'img/kid.jpg' %}" alt="Profile picture">
  </section>
  <section class="post__body">
    <section class="post__handle">
      <h2 class="post__name">
        {% if post.author.first_name and post.author.last_name %}
          {{ post.author.first_name }} {{ post.author.last_name }}
        {% else %}
          {{ post.author.username }}
        {% endif %}
      </h2>
      <h3 class="post__username">
        @{{ post.author.username }}
      </h3>
    </section>
    <p class="post__content">{{ post.content }}</p>
    {% include "posts/components/chirp_actions.html" with post=post %}
  </section>
</article>