{% extends "base.html" %}

{% block title %}
  Buzzes
{% endblock title %}

{% block content %}
  <div class="fixed-grid has-4-cols">
    <div class="grid">
      <div class="cell">
        {% block left %}
        {% endblock left %}
      </div>
      <div class="cell is-col-span-2">
        {% block center %}
          {% include "components/messages.html" %}

          {% for buzz in buzzes %}
            {% include "components/buzz.html" with buzz=buzz %}
          {% endfor %}
        {% endblock center %}
      </div>
      <div class="cell">
        {% block right %}
        {% endblock right %}
      </div>
    </div>
  </div>
{% endblock content %}