.no-radius {
  border-radius: 0;
  box-shadow: none;
  border-bottom: 1px solid rgb(46, 51, 61);
  margin-bottom: 0 !important;
}

.cell-feed {
  border-left: 1px solid rgb(46, 51, 61);
  border-right: 1px solid rgb(46, 51, 61);
}

.column-button {
  cursor: pointer;
}

.column-button:hover {
  color: rgb(255, 183, 15);
}