<nav class="navbar" role="navigation" aria-label="main navigation">
  <div id="navbar-main" class="navbar-menu">
    <ul class="navbar-start">
      <li class="navbar-brand">
        <h1 class="navbar-item is-size-3">
          <a class="has-text-black" href="#">
            TellBee
          </a>
        </h1>
      </li>
      <li class="navbar-item">
        <a class="has-text-dark" href="#">About</a>
      </li>
      <li class="navbar-item">
        <a class="has-text-dark" href="#">Explore</a>
      </li>
      <li class="navbar-item">
        <a class="has-text-dark" href="#">Contribute</a>
      </li>
    </ul>   
    <ul class="navbar-end">
      <li class="navbar-item">
        <div class="buttons">
          <a href="" class="button is-light">Log in</a>
          <a href="#" class="button is-warning"><strong>Register</strong></a>
        </div>
      </li>
    </ul> 
  </div>
</nav>